{
  "storage": {
    "workspace": "/home/your-name/openviking_workspace"
  },
  "embedding": {
    "dense": {
      "api_base": "https://dashscope.aliyuncs.com/compatible-mode/v1",
      "api_key": "sk-your-api-key-here",
      "provider": "openai",
      "dimension": 1536,
      "model": "text-embedding-v4"
    }
  },
  "vlm": {
    "api_base": "https://dashscope.aliyuncs.com/compatible-mode/v1",
    "api_key": "sk-your-api-key-here",
    "provider": "openai",
    "model": "qwen3.5-plus"
  }
}
